.filter {
    display: flex;
    align-items: center;
    gap: 6px;

    &__param {
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;

        &--active {
            color: #FFFFFF;
        }

        &--noactive {
            color: #6A7282;
     
        }

        &__separator {
            color: #6A7282;
        }
    }
}